html, body, #root {
  height: 100%;
  font-family: 'Source Sans Pro'
}

.App {
  text-align: center;
  display: flex;
  min-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.flex.row {
  flex-direction: row;
  align-items: center;
}

.login {
  justify-content: center;
  padding: 3rem;
  max-width:768px;
  background: white;
}

.login-wallpaper {
  align-items: flex-end;
  background-image: url('/backgrounds/denys-nevozhai-185489-unsplash.jpg');
  background-size: cover;
  background-position: right;
}

/* FIXME: The background color seems to hide the outline on Firefox */
input {
  background-color: #F7F7F8;
  font-size: 0.75rem;
  padding: 1rem;
  margin: 0.5rem 0 1rem 0;
  border: none;
}

label {
  text-align: left;
}

.legal {
  color:#73777D;
}

h1 {
  font-family: 'Raleway';
  font-weight: 300;
  line-height: 5rem;

  margin: 0;
}

p {
  font-family: 'Source Sans Pro';
  text-align: left;
}

button.primary {
  font-size: 1rem;
  color: white;

  box-shadow: none;
  border: none;
  

  padding: 1rem 1.5rem;
  background-color: #048484;
  border-radius: 2rem;
}

.thanks {
  justify-content: center;
  padding: 3rem;
  background: white;
  max-width: 40em;
  margin: auto;

  text-align: justify;
}